{% extends 'base.html' %}

{% block content %}
    <article class="message">
      <div class="message-header">
        <p>{{ ticket.name }}</p>
        <a class="button is-primary is-small has-text-weight-bold" href="{{ url_for('index') }}">Back
            </a>
      </div>
      <div class="message-body content">
        <p>Status: {{ ticket.get_status }}</p>
        {% if ticket.url  %}
        <p>{{ ticket.url }}</p>
        {% else %}
        <p>URL is not available</p>
        {% endif %}
      </div>
    </article>
{% endblock %}
